c.NotebookApp.ip = '0.0.0.0'
c.NotebookApp.certfile = u'{{jupyter_home}}/.jupyter/jupyter.pem'
c.NotebookApp.keyfile = u'{{jupyter_home}}/.jupyter/jupyter.key'
c.NotebookApp.open_browser = False
c.NotebookApp.password = "u'sha1:{{jupyter_sha1_password}}'"
c.NotebookApp.port = 18888
