JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181-3.b13.el7_5.x86_64/jre
PATH=$JAVA_HOME/bin:$PATH
HADOOP_HOME=/opt/hadoop-2.7.3
HIVE_HOME=/opt/apache-hive-2.3.3
YARN_CONF_DIR=$HADOOP_HOME/etc/hadoop
SPARK_HOME=/opt/spark-2.4.2-bin-hadoop2.7
CLASSPATH=.:$JAVA_HOME/jre/lib:$JAVA_HOME/lib:$JAVA_HOME/lib/tools.jar
HADOOP_INSTALL=$HADOOP_HOME
HADOOP_MAPRED_HOME=$HADOOP_HOME
HADOOP_COMMON_HOME=$HADOOP_HOME
HADOOP_HDFS_HOME=$HADOOP_HOME
YARN_HOME=$HADOOP_HOME
HADOOP_COMMON_LIB_NATIVE_DIR=$HADOOP_HOME/lib/native
PATH=$PATH:$HADOOP_HOME/sbin:$HADOOP_HOME/bin
PATH=$PATH:$HIVE_HOME/bin
DERBY_HOME=/opt/derby
PATH=$PATH:$DERBY_HOME/bin
CLASSPATH=$CLASSPATH:$DERBY_HOME/lib/derby.jar:$DERBY_HOME/lib/derbytools.jar
HADOOP_CONF_DIR=$HADOOP_HOME/etc/hadoop
PATH=$SPARK_HOME/bin:$SPARK_HOME/sbin:$PATH
LD_LIBRARY_PATH=$HADOOP_HOME/lib/native:$LD_LIBRARY_PATH
HADOOP_OPTS="$HADOOP_OPTS -Djava.library.path=$HADOOP_HOME/lib/native"
PATH=/opt/python-3.6.2/bin:$PATH
PYSPARK_SUBMIT_ARGS="pyspark-shell"
PYSPARK_DRIVER_PYTHON=ipython
PYSPARK_DRIVER_PYTHON_OPTS='notebook' pyspark
PYSPARK_PYTHON=/opt/python-3.6.2/bin/python