SPARK_HOME=/opt/spark-2.4.2-bin-hadoop2.7
HOSTNAME=x220.centos
HADOOP_HOME=/opt/hadoop-2.7.3
YARN_HOME=/opt/hadoop-2.7.3
LD_LIBRARY_PATH=/opt/hadoop-2.7.3/lib/native
PYSPARK_DRIVER_PYTHON=ipython
HADOOP_COMMON_LIB_NATIVE_DIR=/opt/hadoop-2.7.3/lib/native
PATH=/opt/python-3.6.2/bin:/opt/spark-2.4.2-bin-hadoop2.7/bin:/opt/spark-2.4.2-bin-hadoop2.7/sbin:/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181-3.b13.el7_5.x86_64/jre/bin:/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/home/hadoop/.local/bin:/home/hadoop/bin:/opt/hadoop-2.7.3/sbin:/opt/hadoop-2.7.3/bin:/opt/apache-hive-2.3.3/bin:/opt/derby/bin
HADOOP_HDFS_HOME=/opt/hadoop-2.7.3
HIVE_HOME=/opt/apache-hive-2.3.3
HADOOP_COMMON_HOME=/opt/hadoop-2.7.3
PWD=/home/hadoop
JAVA_HOME=/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181-3.b13.el7_5.x86_64/jre
HADOOP_INSTALL=/opt/hadoop-2.7.3
HADOOP_CONF_DIR=/opt/hadoop-2.7.3/etc/hadoop
PYSPARK_SUBMIT_ARGS=pyspark-shell
HADOOP_OPTS= -Djava.library.path=/opt/hadoop-2.7.3/lib/native
YARN_CONF_DIR=/opt/hadoop-2.7.3/etc/hadoop
HADOOP_MAPRED_HOME=/opt/hadoop-2.7.3
CLASSPATH=.:/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181-3.b13.el7_5.x86_64/jre/jre/lib:/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181-3.b13.el7_5.x86_64/jre/lib:/usr/lib/jvm/java-1.8.0-openjdk-1.8.0.181-3.b13.el7_5.x86_64/jre/lib/tools.jar:/opt/derby/lib/derby.jar:/opt/derby/lib/derbytools.jar
PYSPARK_SUBMIT_ARGS="pyspark-shell"
PYSPARK_DRIVER_PYTHON=ipython
PYSPARK_DRIVER_PYTHON_OPTS="'notebook' pyspark"
PYSPARK_PYTHON=/opt/python-3.6.2/bin/python3