backend "consul" {
  path = "vault/"
  address = "{{inventory_hostname}}:8500"
  cluster_addr = "https://{{inventory_hostname}}:8201"
  redirect_addr = "http://{{inventory_hostname}}:8200"
}

listener "tcp" {
  address = "{{inventory_hostname}}:8200"
  cluster_address = "{{inventory_hostname}}:8201"
  tls_disable = 1
}
